img {
  width: 100%;
}

.img-icon {
  width: 32px;
}

.title {
  text-align: center;
  font-size: 6.0vw;
  border-bottom: 1px #d4f5d4 solid;
  font-family: 'Special Elite', 'Lora', serif;
}

.links {
  border-bottom: 1px black solid;
  span {
    padding: 1em;
  }
}

.page-link {
  font-size: 2.0em;
}

.title a, .page-link, p a, a, .post-list a {
  &, &:visited {
    color: #1B5E20;
  }
  &:hover {
    color: #FF6D00;
    text-decoration: none;
  }
}

.post-list {
  div {
    padding-bottom: 0.8em;
  }
  span {
    padding-right: 1em;
    min-width: 25px;
  }
}
